{% extends "layout.html" %}

{% block naglowek %}
Pierwsza strona
{% endblock %}

{% block cialo %}
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla lacinia velit ut orci mollis, vel tincidunt neque cursus. In sit amet sodales sapien. Curabitur venenatis, lectus ut efficitur maximus, dolor lorem varius velit, eu posuere nibh sapien eget velit. Nulla lacus leo, elementum ut lacinia sit amet, hendrerit id lorem. Praesent sed justo et odio pulvinar varius. Nam ullamcorper dapibus erat, auctor tincidunt lectus dignissim et. Pellentesque consequat quam lectus, porttitor condimentum ipsum volutpat vitae. Sed felis erat, fermentum a porttitor eu, ornare eget eros. Nullam est erat, luctus id lectus non, facilisis luctus nunc. Nam imperdiet egestas nunc, non vulputate ante finibus vulputate.
<br>
Przejdź do strony <a href="{{ url_for('second') }}">drugiej</a>.
{% endblock cialo %}
