<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Drugi</title>
</head>
<body>
    <h2>Druga strona</h2>
    In auctor nisi eget imperdiet eleifend. Quisque scelerisque ipsum nulla. Etiam nisi nibh, tristique ut risus sit amet, aliquet rhoncus lorem. Quisque scelerisque, magna viverra imperdiet elementum, erat diam aliquet tortor, quis hendrerit sem nisl a lectus. Nulla scelerisque cursus enim ut pulvinar. Aliquam iaculis aliquet elit, eget placerat nisi mattis et. Nunc vitae dignissim metus. Pellentesque iaculis, quam in molestie gravida, ante dolor congue nunc, a scelerisque tortor mauris eget justo. In hac habitasse platea dictumst. Proin sed purus ligula. Mauris ut consectetur nunc.
    <br>
    Przejdź do strony <a href="{{ url_for('first') }}">pierwszej</a>.
</body>
</html>